@page
@model NET5.Pages.Functions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form method="post">
            
            @Html.EditorFor(m => m.Function)

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
